<div class="container my-5 w-30">
  <h1 class="mb-4">List a restaurant</h1>
  <%= link_to 'See all restaurants', restaurants_path, class: 'btn btn-secondary mb-3' %>
  <%= render 'form', restaurant: @restaurant %>
</div>
